// Breakpoints
$breakpoints: (
  small: 36rem,
  medium: 62rem,
  large: 75rem
);

//colors
$gray: #333333;
$light-gray: #F9F9F9;
$transparent_black: rgba(0, 0, 0, 0.8);
$white: #FFFFFF;
$background-gray: #1D1D1D;
