@import '../../styles/_variables';
@import '../../styles/_mixins';

.App {
  display: grid;
  grid-template: {
    areas: 'header'
           'main'
           'footer';
    rows: 3rem minmax(calc(100vh - 6rem), max-content) 3rem
  }
}

.Header {
  grid-area: header;
}

.Sidebar {
  display: none;
  grid-area: sidebar;
}

.Content {
  background: green;
  color: white;
  grid-area: main;
}

.Footer {
  background: salmon;
  color: white;
  grid-area: footer;
}

@include breakpoint('small') {
  .App {
    display: grid;
    grid-template: {
      columns: auto 15rem;
      rows: 3em minmax(calc(100vh - 6rem), max-content) 3em;
      areas: 'header header'
             'main sidebar'
             'footer footer';
    }
  }

  .Sidebar {
    display: block;
  }
}
