@import '../../styles/_mixins';
@import '../../styles/_variables';

.Nav {
  align-items: center;
  border-bottom: 1px $gray solid;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.Title {
  margin: 0;
  margin-left:1em;
  min-width: 13.5rem;
}

@include breakpoint('small') {
  .Nav {
    justify-content: flex-start;
  }
}
